<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ExchangeAPP</title>
</head>
<body>
<div style="text-align: center">
    <img src="Euro.png" width="100" height="100" alt="lost.png">
    <form action="/" method="get" >
        <span th:text="${er.getBaseCurrency()}">value</span>
        <span> - </span>
        <span th:text="${er.getCurrency()}">value</span>
        <p></p>
        <span>Sale Rate:</span>
        <span th:text="${er.getSaleRate()}">value</span>
        <p></p>
        <span>Purchase Rate:</span>
        <span th:text="${er.getPurchaseRate()}">value</span>
        <p></p>
        <label for="first">From</label><input type="date" id="first" name="first"
                                          value="2022-11-29"
                                          min="2022-02-23" max="2022-11-29">
        <label for="second">To</label><input type="date" id="second" name="second"
                                        min="2022-02-23" max="2022-11-29">
        <input type="submit" value="Show">
    </form>
</div>
</body>
</html>